{%load staticfiles%}
<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%block title%}  {% endblock %}</title>
<meta charset="UTF-8">
</head>
<body>
	<div class="row">
		<div class="container-fluid bg-info">
			{% block content%}


			{% endblock %}
		</div>
	</div>
<div class="row">
	<div class="container-fluid col-6 bg-danger">

	</div>
</div>
</body>
</html>
