{% extends 'posts/base.html' %}
{% load widget_tweaks %}

{%block title%}Login{% endblock %}


{%block content%}
<div class="container-fluid">
	<div class="row">


<div class="offset-lg-4 offset-md-4"></div>
<div class="col-lg-4 col-md-4 " >
<form method="post" action="."  style="margin-top:50%;">

	{%csrf_token%}
	{% for f in form %}
		<div class="form-group">
		<label  for="{{f.label}} ">{{f.label}}</label>
		<div>{{f|add_class:'container form-control'}}</div>
	</div>

	{%endfor%}

	<input class="mt-3 btn btn-info" type="submit" name="submit" value="submit"/>

</form>
<hr/>

<div class="row text-center">
<h3 class="mt-5" >{{message}}</h3>
</div>
</div>

<di style="height:50px;background:red;"></div>

{% endblock %}
