{% extends 'posts/base.html' %}
{% load widget_tweaks %}
{% block title %}Signup {% endblock %}



{% block content%}
<div class="container-fluid" style="margin-top:10%;">

<div class="row">

<div class="offset-lg-4 offset-md-4 offset-sm-1 offset-xs-1"></div>
<div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">



<form method="POST" action=".">

		{%csrf_token%}
		{% for f in form %}

			<div class="form-group">
			<label for="{{f.label}}">	{{f.label}}</label>
			{{f|add_class:'container-fluid form-control'|attr:'style:height:auto;'}}
		</div>


				{% endfor%}
	<h3 style="Ubuntu">{{message}}</h3>
	<hr/>
	<input type="submit" class="btn btn-warning" value="Sign up"></input>



	</form>
</div>
<div class="offset-lg-4 offset-md-4 offset-sm-1 offset-xs-1"></div>
</div>
</div>
{% endblock%}
