
<!doctype html>
<html >
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<title> {%block title%} {% endblock %} </title>

<style>
body  {
  background-image: linear-gradient(to right,#a8ff78,#78ffd6)
}
a:link{
  color:#e08235;
}
a:visited{
  color:#e08235;
}
a:hover{
  color:orange;
  text-decoration: none;
}
</style>

</head>
<body>
{%block content%}


{% endblock %}

</body>
</html>
