{% load staticfiles %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'styles/agate.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="{% static 'highlight.pack.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<head>
    <style>
        *{
            box-sizing:border-box;
        }
        body{
            background:url("{% static 'gif.gif' %}");
            background-repeat:repeat;
            
        }
        html{
            background-image:linear-gradeint(to left,#ffb75e,#ed8f03);
        }
    </style>
</head>
<body style="background-image:linear-gradient(to right,#ffb75e,#ed8f03);">

  <!-- <div class="container-fluid">
            <div class="row mt-5 ">
                <div style="background-image:linear-gradient(to right,rgb(224, 4, 19,0.3),rgb(224, 4, 19,0.3))" class=" main-class text-center ml-1  col-4  rounded"><li class=" mt-4 mb-4  list-inline-item ml-0 mr-0"><a href="https://twitter.com/ahmad"><i style="color:white;" class="display-3 fab fa-twitter"></i></a></li></div>
                <div style="background-image:linear-gradient(to right,rgb(224, 4, 19,0.3),rgb(224, 4, 19,0.3))" class=" main-class text-center ml-1  col-3  rounded"><li class="mt-4 mb-4 list-inline-item "><a href="https://t.me/ahmadoooooooooooooo"><i style="color:white;" class="display-3 fab fa-telegram"></i></a></li></div>
                <div style="background-image:linear-gradient(to right,rgb(224, 4, 19,0.3),rgb(224, 4, 19,0.3))"class=" main-class text-center ml-1  col-4 rounded "><li class=" mt-4 mb-4 list-inline-item "><a href="https://instagram.com/_ahmad98__"><i style="color:white;"  class="display-3 fab fa-instagram"></i></a></li></div>
            </div>
    </div>
--> 
{% for i in codes %}
<div class="container-fluid mb-3 mt-3 mr-0 ml-0" >
    <div class="rounded col-12">
        <!-- style="background-image:linear-gradient(to right,rgba(249, 169, 154,0.3),rgba(249, 169, 154,0.3));opacity:0.98;"-->
        <div class="row">
            <div class="col-4">
            <p class="h1">{{i.headline}}</p>
        </div>
        <div class="col-8 ">
            <small class="float-right">{{i.codeTag}}</small>
        </div>
        </div>
        <pre><code class="rounded python mt-2">
        {{i.codeFile}}
    </code></pre>
    </div>
</div>
{% endfor %}



</body>
</html>