{% extends 'posts/base.html' %}
{% load widget_tweaks %}
{%block title %} {%endblock%}

{%block content%}

<div class="container-fluid">

<div class="row">
<div class="offset-lg-2 offset-md-2 offset-sm-1 offset-xs-1"></div>
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 mt-3 ">
  <div  style="background-image:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5));">

<form  action="" method="post" style="margin-top:20%;">


  {%for f in form%}
  {% csrf_token %}
	   <div class="row justify-content-center">
	   <div class="offset-lg-1 offset-md-1 offset-sm- offset-xs-0"></div>
	     <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-3">
         <div class="form-group">
	          <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0">
	             <div class="row pull-left">
                 <div class="col-3">
	                <label for="{{f.label}}"> {{f.label}} </label>
                </div>
                <div class="offset-9"></div>
	             </div>
	          </div>
	          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mb-5" >
	              {{f|add_class:'container-fluid  shadow-none    '}}
	          </div>
        </div>
	   </div>
	   </div>
{% endfor %}
<input type="submit" class="pull-left btn btn-warning  mt-3" value="tiyoot"  />
<p>{{message}}</p>
</form>
</div>
</div>
</div>

</div>

{% endblock %}
