{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body style="background-image:linear-gradient(to right,#ffb75e,#ed8f03);">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="offset-2"></div>
            <div class="col-8">
        <form class="form-action" action="" method="post" enctype = "multipart/form-data">
            
            {% csrf_token %}
            <div class="row">
                <div class="mt-3 col-6">
                {{form.headline}}
                </div>
                <div class="mt-3 ml-0 col-6 custom-file">
                {{form.codeFile}}
                <label id="labelforfile" style="color:#999" class="custom-file-label" for="customFileLang">only *.cpp | *.py | *.json | *.cs | *.js | *java | *.html</label>
                </div>
            </div>
            <div class="mt-3">
            {{form.description}}
            </div>
            <div class="mt-3">
                {{form.codeTag}}
            </div>

            {{form.errors}}
            <input type="submit" value="Add" class="btn btn-dark mt-2" />
        </form>
    </div>
    </div>
</div>
    <script src="{% static 'extensionChanging.js' %}"></script>
</body>
</html>