{% extends 'posts/base.html' %}

{%block title%} {% endblock %}

{% block nav %}
  {% if  is_follower %}
      <div class='container-fluid'>
        <div class="row ml-lg-2 mb-lg-2 mt-2 mb-2">
            <ul class="nav nav-tab" role="tablist">
      <div class="col-xs-3 col-sm-3 col-3 border-right border-light"><form action="{% url 'follow' usern %}" method="POST"> {% csrf_token %} <li class="active mt-1"><a href=""><input class="btn btn-success " type="submit"  value="{{value_btn}}" /></a></li></form></div>
      <div class="col-xs-3 col-sm-3 col-3 border-right border-light"><form action="{% url 'whatsup' usern %}" method="POST"> {% csrf_token %} <li class="active mt-1 "><a href=""><input class=" btn btn-warning" type="submit"  value="Whtsup" /></a></li></form></div>
      <div class="col-xs-3 col-sm-3 col-3 border-right border-light"><form action="{% url 'make' usern  %}" method="POST"> {% csrf_token %} <li class="active mt-1 "><a href=""><input class="btn btn-danger " type="submit"  value="Make" /></a></li></form></div>
      <div class="col-xs-3 col-sm-3 col-3 "><form action="{% url 'logout' usern  %}" method="POST"> {% csrf_token %} <li class="active mt-1 "><a href=""><input class="btn btn-info " type="submit"  value="Logout" /></a></li></form></div>

    </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}


{% block content %}
{%if is_follower%}
<div class="container-fluid">
  <div class="row">
  <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 col-12">

    {%if tiyoots %}
      {%for t in tiyoots%}

<div class="well" >
    <div class='container-fluid'>
      <div class="row">
        <div class="col-lg-3 col-md-3">
    <div class="media">
      <a class="center-block " href="#">
      <img class="media-object img-thumbnail rounded-circle responsive-img center-block " style="width:100%;height:auto;min-width:100%;" src="http://placekitten.com/150/150" >
    </a>
  </div>
</div>
<div class="col-lg-9 col-md-3">
    <div class="media-body">
      <h2 class="display-3" style="color:#1e656d;">{{t.headline}}</h2>
      <p class="media-heading text-justify mb-3" style="color:#5d535e;white-space:normal;overflow:hidden;">{{t.content}}</p>
    <hr style="color:red; "/>
      <div class="row mt-1">
        <div class="offset-0"></div>
        <div class="col-lg-4 col-md-4  ">
        <p class="text-right pull-left ">{{t.user.firstname}}</p>
      </div>
      <div class="col-lg-8 col-md-8 pull-right">
          <p class="h6"> {{t.datetime}} </p>
      </div>
      </div>

     </div>
   </div>
  </div>
</div>
</div>


	 {% endfor%}

  {% else %}


  <p><i  class="fas fa-pencil-alt" style="font-size:10vw;"></i></p>

  {{message}}

   {%endif%}
 </div>

 <div class="col-lg-3 col-md-0 col-sm-0 col-xs-0 col-0 " style="background:#5bc8ac ; border: 2px solid transparent;border-radius: 5px;">


 <div class="text-center">
 <p class='text text-light center-block h3'>Followers</p>
</div>
  {%for f in followers%}
    <div class="row">
        <div class="offset-1"></div>
        <div class="col-10 text-center ">
            <div class="well well-lg" style="margin-bottom:10px;margin-top:10px;padding:0 10px;">
          <div class="row" style="margin-top:0;">
            <div class='col-3 text-center' style="margin-top:0;">
              <img src='https://www.sequenceqcs.com/wp-content/uploads/2017/11/user_staff_person_man_profile_boss_circle-512.png' height="50" widdth="50" class="media-object rounded-img" />
            </div>

            <div class='col-9'>

              <div class="media">

              <div class="media-body">
                <h4 class="media-heading text-center pull-left mt-3">{{f.follower.firstname}}</h4>
                  <p class="text-right">{{t.user.firstname}}</p>

               </div>
            </div>
          </div>
        </div>
          </div>

          <!--{%for i in is_follower%}
          {{i.follower.firstname}}
          {%endfor%}-->
        </div>
        <div class="offset-1"></div>
    </div>


{%endfor%}
</div>
{% else %}

  <div class="container-fluid" style="margin-top:10%;">

    <div class="row">
        <div class="offset-lg-4 offset-md-4 offset-sm-1 offset-xs-1"></div>

        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 ml-5 ml-lg-0 ml-md-0 ml-sm-0 ml-xs-0 mt-5 mt-lg-0 mt-md-0 mt-sm-0 mt-xs-0 ">
          <div class="row">
            <div class="offset-lg-2 offset-md-2 offset-sm-2 offset-xs-0"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt-5 ">
          <p class="text-center"><i  style="font-size:15vw;color:#3ded7d" class="fas fa-user-plus"></i></p>
        </div>
        </div>
          <div class="row">
            <div class="offset-lg-4 offset-md-4 offset-sm-4 offset-xs-4 offset-4"></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 mt-3">
                <form class="ml-lg-3 ml-md-0 ml-sm-5 ml-xs-2 ml-0" action="{% url 'follow' usern %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                  <input class="btn" style="color:#3ded7d" type="submit" name="follow" value="{{value_btn}}"/>
                </div>
                </form>
              </div>
          </div>
        </div>

    </div>


  <div>





{%endif%}
</div>
</div>
</div>
</div>




{% endblock %}
{% block footer %}

{% endblock %}
