{% extends "posts/base_make.html" %}


{% block title %}whatsup{% endblock %}




{% block content %}
  {% if is_user%}

    <div class="container-fluid " >

        <div class="container-fluid">
          <div class="row">
            <div class="offset-lg-2 offset-md-2 offset-sm-1 offset-xs-1"></div>
          <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
          {%if tiyoots %}
         {%for t in tiyoots%}


            <div class='container-fluid rounded  mb-4' style="background:white;">
              <div class="row">
                <div class="col-lg-3">
            <div class="media">
              <div class="text-center">
              <a class="center-block " href="#">
              <img class="media-object img-thumbnail rounded-circle responsive-img mt-3 " style="width:100%;height:auto;min-width:100%;" src="http://placekitten.com/150/150" >
            </a>
          </div>
          </div>
        </div>
        <div class="col-lg-9">
            <div class="media-body">
              <h2 class="display-3" style="color:#1e656d;overflow:hidden">{{t.headline}}</h2>
              <p class="media-heading text-justify mb-3" style="color:#5d535e;white-space:normal;overflow:hidden;">{{t.content}}</p>
            <hr style="color:red; "/>
              <div class="row mt-1">
                <div class="offset-0"></div>
                <div class="col-lg-4 col-md-4">
              <a class="mb-3 text-right pull-left " href="{% url 'tiyoots' t.user.username %}">  {{t.user.firstname}}</a>
              </div>
              <div class="col-lg-8 col-md-8 ">
                  <p class="h6"> {{t.datetime}} </p>
              </div>
              </div>

             </div>
           </div>
          </div>
        </div>



        	{% endfor%}

           {% else %}
            <P>sorry there is nothing to show !!!</p>
          {{message}}

           {% endif %}
         </div>
      <!--<div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 " style="background:#5bc8ac ; border: 2px solid transparent;border-radius: 5px;">

         {%if is_follower%}
         <div class="text-center">
         <p><i class='text text-success center-block h3'>followers</i></p>
        </div>
          {%for f in followers%}
            <div class="row">
                <div class="offset-1"></div>
                <div class="col-10 text-center ">
                    <div class="well well-lg" style="margin-bottom:10px;margin-top:10px;padding:0 10px;">
                  <div class="row" style="margin-top:0;">
                    <div class='col-3 text-center' style="margin-top:0;">
                      <img src='https://www.sequenceqcs.com/wp-content/uploads/2017/11/user_staff_person_man_profile_boss_circle-512.png' height="50" widdth="50" class="media-object rounded-img" />
                    </div>

                    <div class='col-9'>

                      <div class="media">

                      <div class="media-body">
                        <h4 class="media-heading text-center pull-left mt-3">{{f.follower.firstname}}</h4>
                          <p class="text-right">{{t.user.firstname}}</p>

                       </div>
                    </div>
                  </div>
                </div>
                  </div>

                  {%for i in is_follower%}
                  {{i.follower.firstname}}
                  {%endfor%}
                </div>
                <div class="offset-1"></div>
            </div>

        {%endfor%}
        {%else%}
          {{followers}}

        {%endif%}
      </div>-->
        </div>
        </div>


      <!--  {% for i in tiyoots %}

        <div class="well " style="background:#8cefe5;">
            <div class="media">
              <a class="pull-left" href="#">
              <img class="media-object img-thumbnail rounded-circle responsive-img ml-2" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
              <h1 class="mt-5 ml-3">{{i.headline}}</h1>
              <h4 class="media-heading">{{t.content}}</h4>
              <a href="{% url 'tiyoots' i.user.username %}"><p class="text-right mr-5" >{{i.user.firstname}}</p></a>
                <p>{{i.content}}</p>
                <ul class="list-inline list-unstyled">
              <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                  <li></li>

                  <span><i class="glyphicon glyphicon-comment"></i>{{i.datetime}}</span>
                  <li></li>

                  <li>
                     <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star"></span>
                              <span class="glyphicon glyphicon-star-empty"></span>
                  </li>

                  <li>
                  Use Font Awesome http://fortawesome.github.io/Font-Awesome/
                    <span><i class="fa fa-facebook-square"></i></span>
                    <span><i class="fa fa-twitter-square"></i></span>
                    <span><i class="fa fa-google-plus-square"></i></span>
                  </li>
            </ul>
             </div>
          </div>
        </div>
        <br>

  {% endfor %}
-->
      <!--</div>

        <div class="col-8">
          {%for i in tiyoots%}
            <div class="bg-info">
              <h2>{{i.headline}}</h2>
              <p> {{i.content}}</p>
              <a href="{% url 'tiyoots' i.user.username %}"><p>{{i.user.firstname}}</p></a>
              <p>{{i.datetime}}</p>
            </div>
          {%endfor%}
        </div>-->

      <div class="offset-2">

      </div>






  </div>
  {%else%}
  <div class="container-fluid" style="margin-top:10%;">

    <div class="row">
        <div class="offset-lg-4 offset-md-4 offset-sm-1 offset-xs-1"></div>

        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
          <div class="row">
            <div class="offset-lg-2 offset-md-2 offset-sm-2 offset-xs-2 offset-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-8 mt-5">
          <p class="text-center"><i  style="font-size:15vw;color:#3ded7d" class="fas fa-ban"></i></p>
        </div>
        </div>
          <div class="row">
            <div class="offset-lg-4 offset-md-4 offset-sm-4 offset-xs-4 offset-4"></div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 mt-5">
                <form class="ml-lg-5 ml-md-3 ml-sm-5 ml-xs-2 ml-4" action="{% url 'tiyoots' usern %}" method="post">
                  {% csrf_token %}
                  <div class="form-group ">
                  <input class="btn " style="color:#3ded7d" type="submit" name="follow" value="Home"/>
                </div>
                </form>
              </div>
          </div>
        </div>

    </div>
</div>




  {%endif%}

{% endblock %}
